# ======================
# ENV
# ======================
.env
.env.*

# ======================
# PYTHON
# ======================
.venv/
__pycache__/

# ======================
# NODE
# ======================
node_modules/
Frontend/node_modules/

# ======================
# BUILD
# ======================
.next/
Frontend/.next/

# ======================
# BINARIES
# ======================
*.exe
*.dll

# ======================
# ALLOW FRONTEND CODE
# ======================
!Frontend/